#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp A  &mo 1
            >;
        };

        test_layer {
            display-name = "Test";
            bindings = <
                &kp B  &kp B
            >;
        };
    };
};
